* {
    padding: 0;
    margin: 0;
}

/*estilos*/

.maps {
    border-radius: 10%;
    transition: all 1s;
}

body {
    background-color: $blanco;
}

/*extend en textos*/
.textos {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #495057;

}

/*mixin en textos*/
@mixin formato($size, $align, $padding) {
    font-size: $size;
    text-align: $align;
    padding: $padding;
}

h1 {
    @extend .textos;
    @include formato(25px, center, 15px);
    margin-top: 15px;
}

h2 {
    @extend .textos;
    @include formato(21px, left, 10px);
    margin-left: 60px;
}

p {
    @extend .textos;
    @include formato(16px, justify, 10px);
    margin-right: 90px;
    margin-left: 90px;
}

.txtCenter{
    @include formato(21px, center, 0px);
    margin-left: 0px;
}

.nos {
    margin-left: 60px;
    margin-right: 60px;
}

.titulos {
    font-size: 1em;
    font-style: oblique;
    margin-left: 90px;
}
.redes{
    @extend .textos;
    font-size: 1em;
    text-align: center;
}

/*imagenes*/
.imagenes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
    padding: 15px;

}

.fondoBoton {
    color: #495057;
    background-color: $rosa;
    border-color: rgb(255, 161, 177);
}

/*areas*/

.grilla {
    grid-area: grilla;
}

.content {
    grid-area: content;
}

.grilla {
    display: grid;
    grid-template-areas:
        "nav"
        "content"
        "footer";
    gap: 20px
}


/*tratamientos flex*/
.video {
    display: flex;
    justify-content: center;
}

/*nav boostrap*/

.fondoNav {
    background-color: $rosa;
    border-color: $rosa;
}

.nav-link {
    font-family: Geneva, sans-serif;
    font-weight: bolder;
}

.center {
    display: flex;
    justify-content: center;
}

/*header flex*/
.header {
    display: flex;

    width: 100%;
}

.contenedorFlex {
    display: flex;
    background-color: $rosa;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}