@import "variableGlobal";
@import "generales";
@import "formulario";
@import "footer";

/*media query*/


@media (min-width:480px) {
    h1 {
        font-size: 30px;
    }
    .contenedorFlex {
        flex-direction: column;
        justify-content: center;
    }
   
    .maps:hover {
        transform: scale(1.5);
    }
}

@media (min-width:768px) {
    h1 {
        font-size: 40px;
    }

    .imagenes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
        justify-items: center;
        padding: 15px;
    }

    .grillaFooter {
        grid-template-areas:
            "ber rgl"
            "redes redes";
    }
    
    .icon {
        padding: 0px;
        width: 30px;
    }

    .imgCenter {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }
}