* {
  padding: 0;
  margin: 0;
}

/*estilos*/
.maps {
  border-radius: 10%;
  transition: all 1s;
}

body {
  background-color: white;
}

/*extend en textos*/
.textos, .redes, p, h2, h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #495057;
}

/*mixin en textos*/
h1 {
  font-size: 25px;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
}

h2 {
  font-size: 21px;
  text-align: left;
  padding: 10px;
  margin-left: 60px;
}

p {
  font-size: 16px;
  text-align: justify;
  padding: 10px;
  margin-right: 90px;
  margin-left: 90px;
}

.txtCenter {
  font-size: 21px;
  text-align: center;
  padding: 0px;
  margin-left: 0px;
}

.nos {
  margin-left: 60px;
  margin-right: 60px;
}

.titulos {
  font-size: 1em;
  font-style: oblique;
  margin-left: 90px;
}

.redes {
  font-size: 1em;
  text-align: center;
}

/*imagenes*/
.imagenes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
  justify-items: center;
  padding: 15px;
}

.fondoBoton {
  color: #495057;
  background-color: rgb(255, 194, 204);
  border-color: rgb(255, 161, 177);
}

/*areas*/
.grilla {
  grid-area: grilla;
}

.content {
  grid-area: content;
}

.grilla {
  display: grid;
  grid-template-areas: "nav" "content" "footer";
  gap: 20px;
}

/*tratamientos flex*/
.video {
  display: flex;
  justify-content: center;
}

/*nav boostrap*/
.fondoNav {
  background-color: rgb(255, 194, 204);
  border-color: rgb(255, 194, 204);
}

.nav-link {
  font-family: Geneva, sans-serif;
  font-weight: bolder;
}

.center {
  display: flex;
  justify-content: center;
}

/*header flex*/
.header {
  display: flex;
  width: 100%;
}

.contenedorFlex {
  display: flex;
  background-color: rgb(255, 194, 204);
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/*formulario flex*/
.btm-center {
  display: flex;
  justify-content: center;
}

footer p {
  font-style: normal;
  font-weight: lighter;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 0px;
}
footer .icon {
  padding: 0px;
  width: 20px;
}

/*areas*/
.grillaFooter {
  grid-area: footer;
}

.ber {
  grid-area: ber;
}

.rlg {
  grid-area: rgl;
}

.redes {
  grid-area: redes;
}

.grillaFooter {
  display: grid;
  grid-template-areas: "ber" "rgl" "redes";
  gap: 10px;
  background: rgb(255, 194, 204);
  background: linear-gradient(135deg, rgb(255, 194, 204) 15%, white 30%, white 70%, rgb(255, 194, 204) 85%);
  text-align: center;
  padding: 10px;
}

/*media query*/
@media (min-width: 480px) {
  h1 {
    font-size: 30px;
  }
  .contenedorFlex {
    flex-direction: column;
    justify-content: center;
  }
  .maps:hover {
    transform: scale(1.5);
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }
  .imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
    padding: 15px;
  }
  .grillaFooter {
    grid-template-areas: "ber rgl" "redes redes";
  }
  .icon {
    padding: 0px;
    width: 30px;
  }
  .imgCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}/*# sourceMappingURL=estilos.css.map */